@page
@model WebbApp.Pages.Accounts.TransferModel
@{
}
<div class="container">
    <h1>@ViewData["Title"]</h1>
    <h4>Account Id: @Model.Id</h4>
    <h4>Balance: @Model.Balance</h4>

    <form method="post">
        <div class="form-group">
            <label for="amount">Amount:</label>
            <input class="form-control" asp-for="Amount">
            <span class="field-validation-error" asp-validation-for="Amount"></span>
        </div>
        <div class="form-group">
            <label for="amount">To Account:</label>
            <input class="form-control" asp-for="AccountTo" name="idTo" value="">
            <span class="field-validation-error" asp-validation-for="AccountTo"></span>
        </div>
        <input asp-for="Id" type="hidden" name="id" value="@Model.Id" />
        <input asp-for="CustomerId" type="hidden" name="cusId" value="@Model.CustomerId" />
        <input asp-for="Balance" type="hidden" name="balance" value="@Model.Balance" /> 
        @* Using ASP.NET attribute syntax *@
        <button type="submit" class="btn btn-primary" asp-controller="Account" asp-action="Transfer">Transfer</button>
    </form>
    <button onclick="goBack()" type="submit">Go Back</button>

</div>