@page
@model WebbApp.Areas.Identity.Pages.Account.Manage.UpdateUserModel

<div class="contact center">
    <div class="col-lg-5 mt-4 mt-lg-0 d-flex align-items-stretch">

        <form method="post" class="php-email-form" onsubmit="return validateForm()">
            <input type="hidden" name="id" value="@Model.User.Id" />

            <div class="form-group col-lg-12 mt-5 mt-lg-0">
                <label for="userName">User Name:</label>
                <input type="text" id="userName" name="userName" class="form-control wide-input" value="@Model.User.UserName" onkeyup=validateName(event) required />
                <label id="userNameError" class="error-label"></label>
            </div>

            <div class="form-group col-lg-12 mt-5 mt-lg-0">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" class="form-control" value="@Model.User.Email" onkeyup=validateEmail(event) required />
                <label id="emailError" class="error-label"></label>
            </div>

            <div>
                <label for="emailConfirmed">Confirmed:</label>
                <div>
                    <label>
                        <input type="radio" id="emailConfirmed" name="emailConfirmed" value="true" @(Model.User.EmailConfirmed ? "checked" : "") />
                        Yes
                    </label>
                    <label>
                        <input type="radio" id="emailNotConfirmed" name="emailConfirmed"  value="false" @(Model.User.EmailConfirmed ? "" : "checked") />
                        No
                    </label>
                </div>
                <label id="emailConfirmedError" class="error-label"></label>
            </div>
            <div>
                <label for="role">Role</label>
                <div>
                    <label>
                        <input type="radio" id="role" name="role" value="false" @(Model.Role ? "checked" : "") />
                        Admin
                    </label>
                    <label>
                        <input type="radio" id="role" name="role" value="true" @(Model.Role? "" : "checked") />
                        Cashier
                    </label>
                </div>
                <label id="emailConfirmedError" class="error-label"></label>
            </div>
            <button type="submit" class="update-btn">Update</button>
        </form>
    </div>
</div>

<script>
   
</script>
<style>

</style>